 *{
padding:0;
margin:0;
font-family:system-ui;
}
h1{
text-align:center;
font-size:30px;
color:red;
background:#000;
}
.app{
border:1px solid #000;
border-top:1px solid #000;

}
img{
float:left;
width:50px;
border-radius:0.2em;
margin:5px;
margin-right:6px;
}
.get{
color:#000;
float:right;
background:#888;
font-size:20px;
border-radius:1em;
width:40px
display:black;
text-decoration:none;
}
#mylnput{

width: 100%
font-size: 13px;
}